@use "../../stylesheets/abstracts/variables";

.button {
  background-color: variables.$primary-color;
  border: 1px solid variables.$primary-color;
  color: variables.$white;
  padding: variables.$spacing-small variables.$spacing-large;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: variables.$white;
    color: variables.$primary-color;
  }

  &[data-variant="secondary"] {
    background-color: variables.$white;
    color: variables.$primary-color;
    border: 1px solid variables.$white;

    &:hover {
      background-color: variables.$primary-color;
      color: variables.$white;
      border: 1px solid variables.$white;
    }
  }
}
