// Font sizes
$font-size-body: 1.8rem;
$font-size-heading: 3.6rem;
$font-size-subheading: 3rem;
$font-size-subtext: 1.6rem;

// Spacing
$spacing-xsmall: 0.4rem;
$spacing-small: 0.8rem;
$spacing-medium: 1.6rem;
$spacing-large: 3.2rem;
$spacing-xlarge: 6.4rem;
$spacing-xxlarge: 12.8rem;

// Colours
$text-color: #1d1d1b;
$primary-color: #ff3377;
$white: #ffffff;

$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;

// Border
$border-radius-small: 0.5rem;
$border-radius-mid: 1.5rem;
$border-radius-round: 2.5rem;

$header-height: 60px;

$screen-size-tablet: 768px;
