// Font sizes
$font-size-body: 1.8rem;
$font-size-heading: 3.6rem;
$font-size-subheading: 3rem;
$font-size-subtext: 1.6rem;

// Spacing
$spacing-small: 0.8rem;
$spacing-medium: 1.6rem;
$spacing-large: 3.2rem;

// Colours
$text-color: #1d1d1b;
$primary-color: #ff3377;
$white: #ffffff;

$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;
